:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #f9f7fe;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: bold;
}

.content {
  margin-top: 60px;
  text-align: center;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding-top: 258px;
  padding-bottom: 289px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  color: #272142;
  margin-top: 24px;
  margin-bottom: 50px;
}

.btn-branding {
  background: #6c63ff;
  border-radius: 4px;
  padding: 18px 46px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.btn-branding:hover {
  background: #ffffff;
  color: #6c63ff;
  border-color: #6c63ff;
}

.projects {
  font-size: 18px;
  text-align: center;
  margin-top: 129px;
  margin-bottom: 20px;
}

.project-img-homepage {
  margin-top: 65px;
}

.col p {
  font-size: 16px;
  color: #272142;
  opacity: 70%;
  margin-top: 55px;
  margin-bottom: 30px;
}

.col h2 {
  font-size: 64px;
  margin-top: 90px;
}

.last-col h2 {
  margin-top: 150px;
}

.btn-branding-outline {
  background: #ffffff;
  border-color: #6c63ff;
  border-radius: 4px;
  justify-content: center;
  padding: 18px 46px;
  line-height: 27px;
  font-size: 18px;
  font-weight: normal;
  color: #6c63ff;
}

.btn-branding-outline:hover {
  background: #6c63ff;
  color: #ffffff;
  border-color: #ffffff;
}

.container-inquiry {
  background-color: #f9f7fe;
  border-radius: 20px;
  margin-top: 67px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 67px 132px auto 81px; */
}
.info-inquiry {
  display: block;
  flex: 0 0 50%;
}
.info-inquiry h2 {
  font-size: 48px;
  margin-top: 50px;
  margin-left: 10px;
}

.info-inquiry p {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 40px;
}

.button-inquiry {
  display: block;
  flex: 0 0 50%;
  margin-top: 60px;
}

.contacts {
  text-align: center;
  margin-top: 80px;
}

.link {
  font-size: 24px;
  text-decoration: none;
  color: #000000;
}

.icon {
  margin-top: 40px;
  margin-bottom: 130px;
  margin-right: 45px;
  font-size: 18px;
  color: #6c63ff;
}

.sn-icon {
  border-radius: 50%;
  background-color: rgba(108, 99, 255, 0.05);
  text-align: center;
  padding: 8px 12px;
}

.project-img-aboutmepage {
  padding: 15px;
  border: #6c63ff;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
  }
  .col h2 {
    font-size: 46px;
    margin-top: 20px;
  }
  .hero {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .project-description {
    text-align: center;
  }
  .projects {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .icon {
    margin-bottom: 40px;
  }
}
